/* Налаштування секції benefits */
.benefits_title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .benefits_title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
 .benefits_title {
    max-width: 270px;
    margin-top: 30px;
  }
}

.benefits_description {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color-grey);
display: flex;
width: 270px;
}

@media screen and (min-width: 768px) {
  .benefits_description:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .benefits_description {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .benefits_description {
    max-width: 270px;
  }
}


.benefits_list {
    display: flex;
 }
.benefits_list .benefits_item + .benefits_item {
    margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .benefits_list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .benefits_list {
    flex-wrap: nowrap;
  }
}

.benefits_icon-bg {
    background-color: var(--color-grey);
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    height: 120px;
    display: flex;
    border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .benefits_icon-bg {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .benefits_icon-bg {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits_icon-bg {
    max-width: 270px;
    margin: 0;
  }
}


@media screen and (min-width: 768px) {
  .benefits_block {
    width: calc((100% - 2 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .benefits_block:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits_block {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}

