.burger-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: transparent;
  padding: 12px 8px;
}
.burger-menu__btn.is-open {
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .burger-menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
  }
}

.burger-menu__btn:hover, .burger-menu__btn:focus {
  fill: #2196f3;
}
.burger-menu__btn .icon-cross {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.burger-menu__btn.is-open .icon-cross {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity var(--transition-timing-function-close);
  transition: opacity var(--transition-timing-function-close);
}
.burger-menu__btn.is-open .icon-menu {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.burger-menu__btn .icon-menu {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity var(--transition-timing-function-close);
  transition: opacity var(--transition-timing-function-close);
}