/* Налаштування секції services */
.services_title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}

.services_item {
    position: relative;
}

.services_list {
    display: flex;
    position: relative;
  }

.services_list .services_item + .services_item {
    margin-left: 30px;
}

.services_desc {
    display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
   text-transform: uppercase;
  background-color: var(--color-services-img);
  color: var(--color-white);
}

.services {
    padding-top: 0;
}